{% extends 'base.html.twig' %}

{% block body %}
    Home page!


    <div class="autoCompleteField">
        <input id="queryBox" title="Input your query (min 3 symbols)"/>
        <br/>
        <ul id="options"></ul>
    </div>

{% endblock %}